
<body style="background-color:#E6E6FA">
  <h1 style="margin-left:200px;color:red;">Webpage Scraper</h1>
  <form action="/websrape/website" method="POST" autocomplete="off">
 <div style='margin-left:100px;width:140px;float:left;color:red;'>Website Url</div>
      <input type='text' name='domain' id='first' placeholder="Enter website Url" class='required',>
      <br><br>
          <center><button type='submit' value='submit' id="submit">submit</button></center>
      </div>
  </form>
</body>